/* media query */

@media  only screen and (max-width: 688px){
    /* start main section */

    .main-area {
        flex-direction: column;
        padding: 0px;
    }
    .text-area {
        padding-left: 0px;
    }
    .text-title {
        padding-top: 10px;
    }
    .text-area > .text-title h1, h2, h3 {
        font-size: 36px;
        padding-left: 16px;
    
    }
    .text-area button {
        border: none;
        background-color: #E02C6D;
        padding: 10px 24px;
        margin-top: 30px;
        margin-left: 19px;
        margin-bottom: 50px;
    }
    .img-area {
        width: 329px;
        height: 259px;
        padding: 0px 14px 61px;
    }
    
    .players{
        grid-template-columns: repeat(1, 1fr);
       justify-content: center;
       padding-right: 0;
       padding-left: 0;
    }
    .player-img img{
        padding-left: 16px;
    }
    .player-text p {
        padding-left: 16px;
    }
    /* end main section */
    
    
    /* start footer section */
    .logo-area {
        width: 200px;
        margin-bottom: 20px;
    }
    .footer-area{
        padding-top: 50px;
    }
    /* end footer section */
}